ProxyBiddingCumSnipingAgent/src/META-INF/wsdl/localhost_8080/CustomerWebService/CustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws/" name="CustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.ws/" schemaLocation="http://localhost:8080/CustomerWebService/CustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAuctionListingByAuctionListingName">
<part name="parameters" element="tns:retrieveAuctionListingByAuctionListingName"/>
</message>
<message name="retrieveAuctionListingByAuctionListingNameResponse">
<part name="parameters" element="tns:retrieveAuctionListingByAuctionListingNameResponse"/>
</message>
<message name="AuctionListingNotFoundException">
<part name="fault" element="tns:AuctionListingNotFoundException"/>
</message>
<message name="retrieveCustomerByCustomerId">
<part name="parameters" element="tns:retrieveCustomerByCustomerId"/>
</message>
<message name="retrieveCustomerByCustomerIdResponse">
<part name="parameters" element="tns:retrieveCustomerByCustomerIdResponse"/>
</message>
<message name="CustomerNotfoundException">
<part name="fault" element="tns:CustomerNotfoundException"/>
</message>
<message name="customerRemoteLogin">
<part name="parameters" element="tns:customerRemoteLogin"/>
</message>
<message name="customerRemoteLoginResponse">
<part name="parameters" element="tns:customerRemoteLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="customerPremiumRegistration">
<part name="parameters" element="tns:customerPremiumRegistration"/>
</message>
<message name="customerPremiumRegistrationResponse">
<part name="parameters" element="tns:customerPremiumRegistrationResponse"/>
</message>
<message name="InvalidPremiumRegistrationException">
<part name="fault" element="tns:InvalidPremiumRegistrationException"/>
</message>
<message name="retrieveAllActiveAuctionListings">
<part name="parameters" element="tns:retrieveAllActiveAuctionListings"/>
</message>
<message name="retrieveAllActiveAuctionListingsResponse">
<part name="parameters" element="tns:retrieveAllActiveAuctionListingsResponse"/>
</message>
<portType name="CustomerWebService">
<operation name="retrieveAuctionListingByAuctionListingName">
<input wsam:Action="http://soap.ws/CustomerWebService/retrieveAuctionListingByAuctionListingNameRequest" message="tns:retrieveAuctionListingByAuctionListingName"/>
<output wsam:Action="http://soap.ws/CustomerWebService/retrieveAuctionListingByAuctionListingNameResponse" message="tns:retrieveAuctionListingByAuctionListingNameResponse"/>
<fault message="tns:AuctionListingNotFoundException" name="AuctionListingNotFoundException" wsam:Action="http://soap.ws/CustomerWebService/retrieveAuctionListingByAuctionListingName/Fault/AuctionListingNotFoundException"/>
</operation>
<operation name="retrieveCustomerByCustomerId">
<input wsam:Action="http://soap.ws/CustomerWebService/retrieveCustomerByCustomerIdRequest" message="tns:retrieveCustomerByCustomerId"/>
<output wsam:Action="http://soap.ws/CustomerWebService/retrieveCustomerByCustomerIdResponse" message="tns:retrieveCustomerByCustomerIdResponse"/>
<fault message="tns:CustomerNotfoundException" name="CustomerNotfoundException" wsam:Action="http://soap.ws/CustomerWebService/retrieveCustomerByCustomerId/Fault/CustomerNotfoundException"/>
</operation>
<operation name="customerRemoteLogin">
<input wsam:Action="http://soap.ws/CustomerWebService/customerRemoteLoginRequest" message="tns:customerRemoteLogin"/>
<output wsam:Action="http://soap.ws/CustomerWebService/customerRemoteLoginResponse" message="tns:customerRemoteLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://soap.ws/CustomerWebService/customerRemoteLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="customerPremiumRegistration">
<input wsam:Action="http://soap.ws/CustomerWebService/customerPremiumRegistrationRequest" message="tns:customerPremiumRegistration"/>
<output wsam:Action="http://soap.ws/CustomerWebService/customerPremiumRegistrationResponse" message="tns:customerPremiumRegistrationResponse"/>
<fault message="tns:InvalidPremiumRegistrationException" name="InvalidPremiumRegistrationException" wsam:Action="http://soap.ws/CustomerWebService/customerPremiumRegistration/Fault/InvalidPremiumRegistrationException"/>
</operation>
<operation name="retrieveAllActiveAuctionListings">
<input wsam:Action="http://soap.ws/CustomerWebService/retrieveAllActiveAuctionListingsRequest" message="tns:retrieveAllActiveAuctionListings"/>
<output wsam:Action="http://soap.ws/CustomerWebService/retrieveAllActiveAuctionListingsResponse" message="tns:retrieveAllActiveAuctionListingsResponse"/>
</operation>
</portType>
<binding name="CustomerWebServicePortBinding" type="tns:CustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAuctionListingByAuctionListingName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionListingNotFoundException">
<soap:fault name="AuctionListingNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCustomerByCustomerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotfoundException">
<soap:fault name="CustomerNotfoundException" use="literal"/>
</fault>
</operation>
<operation name="customerRemoteLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="customerPremiumRegistration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidPremiumRegistrationException">
<soap:fault name="InvalidPremiumRegistrationException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllActiveAuctionListings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWebService">
<port name="CustomerWebServicePort" binding="tns:CustomerWebServicePortBinding">
<soap:address location="http://localhost:8080/CustomerWebService/CustomerWebService"/>
</port>
</service>
</definitions>